<header class="site-header">
    <div class="container header-inner">
        <div class="logo">
            <a href="/">CSWithRajnath</a>
        </div>

        <nav class="nav">
            <a href="/class/11">Class 11</a>
            <a href="/class/12">Class 12</a>
        </nav>
    </div>
</header>
